<div class="flex justify-content-center flex-wrap">

  <div class="flex bg-primary align-items-center justify-content-center w-4rem h-1rem border-round m-2 p-5">
    <p-card header="Registration-Form">
      <div class="grid formgrid field">
        <div class="col-12 md-6">

          <form [formGroup]="registrationForm">
            <mat-form-field class="example-full-width">
            <mat-label> First Name </mat-label>
             <input matInput type="text" id="text" placeholder="Ex. First Name" formControlName="firstName">
             <mat-error>  First Name is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Last Name </mat-label>
              <input matInput type="text" id="text" placeholder="Ex. Last Name" formControlName="lastName">
              <mat-error>  Last Name is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Mobile No. </mat-label>
              <input matInput type="number" id="number" placeholder="Ex. 9819154623" formControlName="phoneNumber">
              <mat-error>  Mobile No is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Date Of Birth. </mat-label>
             <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
             <mat-hint>MM/DD/YYYY</mat-hint>
             <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
             <mat-error>  Date Of Birth is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Email Id </mat-label>
             <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="eMailId">
             <mat-error>
              Please enter a valid email address
            </mat-error>
            <mat-error>
              Email is <strong>required</strong>
            </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label>Enter your password</mat-label>
             <input matInput [type]="hide ? 'password' : 'text'" formControlName="passWord">
             <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
               <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             </button>
             <mat-error>  Password is <strong>required</strong> </mat-error>
           </mat-form-field>

      </form>

      <div class="col-12">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
       </div>

     </div>

      </div>

    </p-card>
  </div>

</div>
