<!-- <div class="flex justify-content-center flex-wrap">

  <div class="flex w-8 align-items-center justify-content-center border-round m-3 p-3">
    <p-card header="Registration-Form" class="shadow-5">
      <div class="grid formgrid field">
        <div class="col-12 md-9">

          <form [formGroup]="registrationForm">
            <mat-form-field class="example-full-width">
            <mat-label> First Name </mat-label>
             <input matInput type="text" id="text" placeholder="Ex. First Name" formControlName="firstName">
             <mat-error *ngIf="regisForm['firstName'].invalid && isSubmitted">  First Name is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Last Name </mat-label>
              <input matInput type="text" id="text" placeholder="Ex. Last Name" formControlName="lastName">
              <mat-error *ngIf="regisForm['lastName'].invalid && isSubmitted">  Last Name is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Mobile No. </mat-label>
              <input matInput type="number" id="number" placeholder="Ex. 9819154623" formControlName="phoneNumber">
              <mat-error *ngIf="regisForm['phoneNumber'].invalid && isSubmitted">  Mobile No is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Date Of Birth. </mat-label>
             <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
             <mat-hint>MM/DD/YYYY</mat-hint>
             <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
             <mat-error *ngIf="regisForm['dateOfBirth'].invalid && isSubmitted">  Date Of Birth is <strong>required</strong> </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label> Email Id </mat-label>
             <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="eMailId">
             <mat-error>
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="regisForm['eMailId'].invalid && isSubmitted">
              Email is <strong>required</strong>
            </mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <mat-label>Enter your password</mat-label>
             <input matInput [type]="hide ? 'password' : 'text'" formControlName="passWord">
             <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
               <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             </button>
             <mat-error *ngIf="regisForm['passWord'].invalid && isSubmitted">  Password is <strong>required</strong> </mat-error>
           </mat-form-field>

      </form>

      <div class="col-12">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
       </div>

     </div>

      </div>

    </p-card>
  </div>

</div> -->


<div class="flex flex-wrap overflow-hidden justify-content-center py-2">

  <div class="flex w-8 surface-200 border-round p-3 m-3 justify-content-center shadow-4">
    <div class="p-fluid formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" placeholder="Firstname" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12 md:col-6">
        <label for="lastname2">Lastname</label>
        <input id="lastname2" type="text" placeholder="Lastname" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12 md:col-6">
        <label for="mobileno3"> Mobile No.</label>
        <p-inputMask mask="(999) 999-9999" id="mobileno3" placeholder="(999) 999-9999"></p-inputMask>
      </div>

      <div class="field col-12 md:col-6">
         <label for="dateofbirth4"> Date of Birth </label>
         <p-calendar id="dateofbirth4" placeholder="MM/DD/YYYY"></p-calendar>
      </div>

      <div class="field col-12 md:col-6">
        <label for="emailid5"> Email_Id </label>
        <input id="emailid5" type="email" placeholder="example@outlook.com" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>


      <div class="field col-12 md:col-6">
        <label for="password6"> Password </label>
        <p-password id="password6" [toggleMask]="true" placeholder="Password"></p-password>
      </div>

     </div>
    </div>

    <div class="w-4 flex-shrink-1 border-round px-1 py-1 justify-content-center">
       <div class="p-fluid formgrid grid">
          <div class="field col-6">
            <button pButton pRipple label="Submit" class="p-button-success"></button>
          </div>

          <div class="field col-6">
            <button pButton pRipple label="cancel" class="p-button-danger"></button>
          </div>
       </div>
      </div>

</div>





