
<div class="flex overflow-hidden justify-content-center">
  <div class="flex surface-500 w-auto p-3 m-3 border-round justify-content-center align-items-center shadow-5">
    <p-toolbar>
      <p-table [value]="registration" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '90rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Fname</th>
                <th>LstName</th>
                <th>PhoneNo</th>
                <th>Email_Id</th>
                <th>Date_Of_Birth</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Regis>
            <tr>
                <td>{{ Regis.firstName }}</td>
                <td>{{ Regis.lastName }}</td>
                <td>{{ Regis.phoneNumber }}</td>
                <td>{{ Regis.eMailId }}</td>
                <td>{{ Regis.dateOfBirth }}</td>
            </tr>
        </ng-template>
    </p-table>
    </p-toolbar>

  </div>

</div>


