
// base file scss
@import "./base/coloe.scss";
@import "./base/mixin.scss";
@import "./base/configuration.scss";
@import "./base/font.scss";



//Bootstrape
@import "../node_modules/bootstrap/scss/bootstrap";


//Primeng Bootstrape
@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '~primeflex/primeflex.css';

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
