
<div class="card flex justify-content-left">
<p-sidebar [(visible)]="sidebarVisible">

<div class="admin-sidebar">

  <div class="links">
    <ul>
      <li routerLink="/Dashboard">
        <a> <i class="pi pi-home"></i> Dashboard </a>
      </li>

      <li routerLink="/Registration">
        <a > <i class="pi pi-briefcase"></i> Registration </a>
      </li>

      <li routerLink="/Login">
        <a > <i class="pi pi-sign-in"></i> Login </a>
      </li>
    </ul>

  </div>

</div>





</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-th-large"></p-button>
</div>


